.App {
  width: 100%;
  height: 100vh;
}

.app-bar {
  height: 56px;
  background: #343a40;
  color: #fff;
  line-height: 56px;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.sidebar {
  width: calc(256px - 32px);
  height: calc(100vh - 56px);
  float: left;
  background: #f8f9fa;
  padding: 0px 16px 0px 16px;
  border-right: 1px solid #cccccc;
}

.content {
  width: calc(100% - 256px);
  height: calc(100vh - 56px);
  overflow: auto;
  float: left;
}

.link {
  text-decoration: none;
  color: #a9b5c6;
}

.link:hover {
  background: #D4DCE3;
  color: #8594A4;
}

.link-layout {
  display: block;
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 4px;
  border-radius: 8px;
}

.link-active {
  text-decoration: none;
  background: #4f95de !important;
  color: #fff;
}

.content-wrapper {
  padding: 16px;
}

.page-title {
  margin-top: 0px;
}

.cancel-filter {
  margin-right: 16px;
}

.p-column-filter-matchmode-dropdown {
  display: none;
}

.p-paginator {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 0px !important;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.p-paginator-element {
  border: 0px;
  background: #f4f4f4;
  color: #565656;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #007ad9;
  color: #fff;
}

.p-paginator,
.p-datatable {
  border: 1px solid #cccccc;
}

.p-paginator,
.p-datatable-thead tr th{
  background: #f4f4f4;
}

.p-datatable-thead tr th {
  border-right: 1px solid #cccccc;
  border-top: 0px;
  border-bottom: 0px;
}

.p-datatable-thead tr th:last-child {
  border-right: 0px;
}

.p-datatable-tbody tr td {
  border-top: 0px;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-datatable-tbody tr td:last-child {
  border-right: 0px;
}

.p-datatable-tbody tr:last-child td {
  border-bottom: 0px;
}

.p-datatable-tbody tr:first-child td {
  border-top: 1px solid #cccccc;
}

.p-row-odd {
  background: #f9f9f9;
}

.menu-icon {
  display: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.top-div,
.bottom-div {
  flex: 1;
  min-width: calc(50% - 10px);
  margin: 5px;
}

.input-busca-ano {
  width: 70%;
  margin-bottom: 4px;
}

.btn-busca-ano {
  margin-top: -5px;
  margin-left: 8px;
  padding-right: 10px;
}

.busca-ano {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1059px) {
  .menu-icon {
    display: inline-block;
    height: 56px;
  }
  
  .menu-icon .p-button-icon {
    color: #fff;
  }

  .sidebar {
    position: absolute;
    z-index: 10;
    left: -256px;
    transition: all 0.36s ease;
  }

  .sidebar-active {
    left: 0;
  }

  .content {
    width: 100%;
  }

  .top-div,
  .bottom-div {
    flex-basis: 100%;
  }
}